@import "../../assets/variables";

.album {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  width: 75vw;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #e7e7e7;
  padding: 1rem;

  &__left {
    display: flex;
    flex-basis: 50%;
    align-items: center;

    &__image {
      object-fit: contain;
      height: 4.375rem;
      border-radius: 5px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-left: 2rem;

      &__album-name {
        color: var(--backish);
      }

      &__artist-name {
        text-decoration: none;
        color: var(--warm-grey-two);
        text-transform: uppercase;
      }
    }
  }
  &__right {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;

    span {
      color: var(--warm-grey-two);
    }

    &__favorite-button {
      cursor: pointer;
      background-color: var(--aqua);
      color: var(--white);
      height: 1.7rem;
      border: none;
      border-radius: 3px;
      padding: 0 0.5rem 0 0.5rem;
      width: 10rem;
      outline: none;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;

      &.inverted {
        color: var(--aqua);
        text-decoration: underline;
        background-color: var(--white);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .album {
    flex-direction: column;

    &__left {
      padding-bottom: 20px;
    }
  }
}
