:root {
  --aqua: #13d6ea;
  --muted-white: #f9f9f9;
  --blackish: #363636;
  --pinkish-grey: #cfcfcf;
  --turquoise-blue: #00accf;
  --warm-grey: #828282;
  --muted-black: #282828;
  --greyish: #a6a6a6;
  --greyish-brown: #545454;
  --white: #ffffff;
  --warm-grey-two: #a0a0a0;
  --black: #000000;
}
