.albums {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background-color: #f9f9f9;
  min-height: 90vh;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    width: 70rem;
    overflow-y: scroll;
    height: 45rem;
    gap: 1rem;
  }
}
