@import "../../assets/variables";

.albums {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background-color: var(--muted-white);
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0 4rem 0;
    width: 100%;

    gap: 1rem;
    overflow-y: scroll;
  }
}
